.quotebox {
    position: relative;
    display: block;
    width: 90%;
    max-width: 700px;
    background-color: #123456;
    border-radius: 25px;
    margin: 50px auto;
    padding: 30px;
}

.quoteby, .quote {
    color: white;
    font-family: 'Raleway', sans-serif;
}

.quote {
    font-size: 2em;
    margin: 20px auto; 
    font-weight: bold;
}

.quoteby {
    font-size: 1.5em;
    margin: 20px auto;
    text-align: right;
    font-style: italic;
    font-weight: 100;
}

.quotefooter {
    width: 100%;
}

#btn-tweet, #btn-next {
    margin: 10px auto;
}

#btn-tweet {}

#btn-next {
    float: right;
}

.footer {
    height: 50px;
    display: block;
    width: 100%;
    text-align: center;
}
